{% extends 'blog/base.html' %}

{% block content %}
<div class="form-container">
    <h2>New Blog Post</h2>
    
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="id_title">Title:</label>
                    {{ form.title }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_content">Content:</label>
                    {{ form.content }}
                </td>
            </tr>
        </table>
        <br>
        <button type="submit">Save Post</button>
    </form>
    
    <a href="{% url 'post_list' %}" class="cancel-link">Cancel</a>
</div>
{% endblock %}